/*
blau: rgb(59, 152, 179);
gold: rgb(232, 160, 0);
white: rgba(255, 255, 255, 0.87);
bg: rgb(35, 42, 46);
chip-bg: rgb(28, 31, 35);
*/

body {
  max-width: 800px;
  margin: 0 auto;
  padding-top: 1em;
  color: rgba(255, 255, 255, 0.87);
  font-family: Roboto, sans-serif;
  font-weight: 400;
  font-size: 1em;
  line-height: 1.25;
}

html {
  background-color: rgb(35, 42, 46);
}

h1 {
  color: rgb(232, 160, 0);
  font-size: 2em;
}

h2 {
  color: rgb(59, 152, 179);
}

p {
  margin-top: 0.5em;
  margin-bottom: 0.5em;
}

.app-container {
  display: flex;
  flex-direction: column;
}

.row {
  flex-direction: row;
}

.card-border {
  border: 2px solid rgb(59, 152, 179);
  padding: 0.25em;
  border-radius: 1.25em;
  width: 14em;
  margin: 0.5em;
}

.card-border-inset {
  border: 2px solid rgb(59, 152, 179);
  padding: 1em;
  border-radius: 2em;
  height: 16em;
  border-radius: 1em;
  text-align: center;
}

.chip {
  background-color: rgba(28, 31, 35, 0.87);
  display: inline-block;
  height: 32px;
  font-size: 13px;
  line-height: 32px;
  padding: 0 12px;
  border-radius: 16px;
  margin-bottom: 5px;
  margin-top: 5px;
}
