/*
blau: rgb(59, 152, 179);
gold: rgb(232, 160, 0);
white: rgba(255, 255, 255, 0.87);
bg: rgb(35, 42, 46);
chip-bg: rgba(28, 31, 35, 0.87);
*/

body {
  max-width: 800px;
  margin: 0 auto;
  padding-top: 1em;
  color: rgba(255, 255, 255, 0.87);
  font-family: Roboto, sans-serif;
  font-weight: 400;
  font-size: 0.5em;
  line-height: 1.25;
}

html {
  background-color: rgb(35, 42, 46);
}

h1 {
  color: rgb(232, 160, 0);
  font-size: 2em;
}

h2 {
  color: rgb(59, 152, 179);
}

h2.play-area {
  margin-left: 1em;
}

p {
  margin-top: 0.5em;
  margin-bottom: 0.5em;
}

.app-container {
  display: flex;
  flex-direction: column;
}

.row {
  flex-direction: row;
}

.controls {
  align-items: center;
  justify-content: center;
}

.discard-pile {
  text-align: center;
}



section.play-area .space-left {
  margin-left: 10em;
}

.controls > span > button {
  margin: 1em;
}

.card-border {
  border: 2px solid rgb(59, 152, 179);
  padding: 0.25em;
  border-radius: 1.25em;
  width: 14em;
  margin: 0.5em;
}

.card-border-inset {
  border: 2px solid rgb(59, 152, 179);
  padding: 1em;
  border-radius: 2em;
  height: 16em;
  border-radius: 1em;
  text-align: center;
}

.selected {
  border-style: dashed;
}

.chip {
  background-color: rgba(28, 31, 35, 0.87);
  display: inline-block;
  height: 32px;
  font-size: 13px;
  line-height: 32px;
  padding: 0 12px;
  border-radius: 16px;
  margin-bottom: 5px;
  margin-top: 5px;
}

.loader {
  margin-left: 4em;
  font-size: 1.5em;
}

section.play-area {
  padding-top: 1em;
  margin-top: 1em;
  border-top: 1px solid rgba(28, 31, 35, 0.87);
  padding-bottom: 1em;
  margin-bottom: 1em;
  border-bottom: 1px solid rgba(28, 31, 35, 0.87);
}

.slot {
  position:relative;
  background-color: rgb(35, 42, 46);
  border: 1px solid rgba(255, 255, 255, 0.87);
  width: 14em;
  height: 16em;
  margin: 1em;
  margin-top: 1.5em;
}

.slot:before {
  content: '';
  position: absolute;
  top: -1px;
  left: -1px;
  border: 1px solid rgb(35, 42, 46);
  height: 100%;
  width: 100%;
  border-radius: 15%;
}
